<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script  src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/service.js"></script>
  </head>
  
  <body ng-app="myApp">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="index.html">Home</a></li>
            <li role="presentation"><a href="service.html">Catagory</a></li>
            <li role="presentation"><a href="feedback.html">Feedback</a></li>
            <li role="presentation"><a href="connect.html">Connect</a></li>
            <div class="pull-right">
              <div class="btn-group">
                <button class="btn btn-primary" id='logout'>
                Logout
                </button>
              </div>
            </div>
          </ul>

          <div class="row">
            <div class=" col-lg-4 col-lg-offset-4" ng-controller="FeedbackController as feedbackCtrl">
              <div ng-repeat="feedback in feedbackCtrl.feedbacks" ng-hide="feedbackCtrl.feedbacks === null">
                <blockquote class="blockquote blockquote-reverse">
                  <div><span class="glyphicon glyphicon-star" ng-repeat="star in feedback.stars track by $index"></span></div>
                  <p>{{feedback.comment}}</p>
                  <footer class="blockquote-footer"><cite>{{feedback.email}} on {{feedbackCtrl.date|date}}</cite></footer>
                </blockquote>
              </div>
              <form class="form-horizontal" ng-controller="NewFeedbackController as newFeedbackCtrl" ng-submit="newFeedbackCtrl.submit()" novalidate>
                <fieldset class="form-group">
                  <label class="text-center">Email Address</label>
                  <div>
                    <input type="email" class="form-control" placeholder="example@xyz.com" ng-model="newFeedbackCtrl.newFeedback.email" required>
                  </div>
                  <br>
                  <label class="text-center">Comments</label>
                  <div>
                    <textarea type="text" class="form-control" rows="5" maxlength="500" placeholder="Please enter no more than 500 characters" ng-model="newFeedbackCtrl.newFeedback.comment"required></textarea>
                  </div>
                  <br>
                  <label class="text-center">How would you rate us {{newFeedbackCtrl.newFeedback.stars}}</label>
                  <select class="form-control" ng-model="newFeedbackCtrl.newFeedback.stars" convert-to-number >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <br>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button class="btn btn-primary">Clear</button>
                </fieldset>
              </form>
            </div>
          </div>
          <img src="http://tmpfile.freelogodesign.org/ba068e9d-3119-495c-ad6b-eb51b0d9fe86.png" alt="group pic">
        </div>
      </div>
    </div>

  </body>
</html>